@font-face {
  font-family: "Denton Condensed";
  src: url("DentonCondensed-Regular.woff2") format("woff2"),
    url("DentonCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Denton Condensed Italic";
  src: url("DentonCondensed-RegularItalic.woff2") format("woff2"),
    url("DentonCondensed-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.store-container {
  display: flex;
  gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background: #f8f7f3;
}

.menu-container {
  padding: 13.36px 24.25px 13.36px 23.47px;
  border-radius: 10px;
  border: 1px solid #000000;
  width: 100%;
  height: 100vh;
  min-width: 605px;
  max-height: 759px;
  overflow-x: scroll;
}

.menu-container header {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.menu-container-row {
  display: flex;
  justify-content: space-between;
}

.menu-container-submenu {
  display: flex;
  align-items: center;
}

.menu-container-submenu .submenu {
  margin-left: 47px;
  font-size: 21px;
}

.menu-container header span {
  font-family: "Denton Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 29.695px;
  line-height: 39px;
  color: #3a3a3a;
}

.menu-container header hr {
  width: 100%;
  border: 1.48475px solid #3a3a3a;
}

.menu-container ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.information {
  height: 83px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.information-title {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 420;
  font-size: 21.7763px;
  line-height: 31px;
  padding: 0px;
  margin: 0px;
  color: #3a3a3a;
}

.information__container {
  display: flex;
  justify-content: space-between;
}

.information .description {
  width: 100%;
  max-width: 342px;
  height: 50px;
  margin-top: 2px;
}

.information-slot__prices {
  display: flex;
  width: 100%;
  max-width: 185px;
  justify-content: space-between;
}

.information-slot__prices div {
  display: flex;
  justify-content: flex-end;
  width: 81px;
  font-size: 21px;
}

.info-container {
  display: flex;
  flex-direction: column;
  max-width: 665px;
  width: 100%;
}

.info-container > h1 {
  all: unset;
  font-weight: 400;
  font-family: "Denton Condensed";
  font-size: 40px;
  line-height: 48px;
  color: #3a3a3a;
}

.info-container > h3 {
  all: unset;
  padding-top: 4px;
  font-weight: 400;
  font-style: normal;
  font-family: "Brandon-Grotesque";
  font-size: 24px;
  line-height: 24px;
  color: #3a3a3a;
}

.info-container > h4 {
  all: unset;
  padding-top: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Brandon-Grotesque";
  font-size: 20px;
  line-height: 26px;
  color: #3a3a3a;
}

.chips-container {
  display: flex;
  padding-top: 18px;
  gap: 18px;
}

.chip {
  padding: 8px 16px;
  border-radius: 10px;
  background: #3a3a3a;
}

.chip:hover {
  pointer: cursor;
  opacity: 0.8;
}

.chip > span {
  font-family: "Brandon-Grotesque";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f8f7f3;
}

.order-online {
  max-width: 670px;
  width: 100%;
  background: #737b5e;
  padding: 12px 0px 12px 16px;
  border-radius: 4.49775px;
  margin-top: 32px;
}

.order-online--description {
  text-transform: uppercase;
  color: #f8f7f3;
  font-size: 18px;
  line-height: 24px;
  font-family: "Brandon-Grotesque";
  font-weight: 450;
}

#map {
  max-width: 673px;
  height: 401px;
  border-radius: 10px;
  margin-top: 32px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .store-container {
    flex-direction: column;
  }
}

.mapbox {
  padding-top: 18px;
}
