@font-face {
  font-family: "Denton Condensed";
  src: url("DentonCondensed-Regular.woff2") format("woff2"),
    url("DentonCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Denton Condensed Italic";
  src: url("DentonCondensed-RegularItalic.woff2") format("woff2"),
    url("DentonCondensed-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import url("https://use.typekit.net/ckd2yhv.css");

*::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 100px;
  background-color: #eaebed;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #D9D9D9;
}

.store-container {
  display: flex;
  gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background: #f8f7f3;
  height: 100vh;
}

.menu__container{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.menu {
  padding: 13.36px 24.25px 13.36px 23.47px;
  border-radius: 10px;
  border: 1px solid #000000;
  overflow: hidden;
}

.menu--border-0{
  width: 100%;
  border: 0px;
  padding: 0px;
}

.menu--marginTop{
  margin-top: 30px;
}

.menu header {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.menu-subheader{
  border-bottom: 3px dashed black;
  font-size: 25px;
  font-weight: 420;
  font-family: "Brandon Grotesque";
  text-transform: uppercase;
  margin-top: 14px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.menu-row--mt-0{
  margin-top: 0px;
}

.menu-submenu {
  display: flex;
  align-items: center;
}

.menu-submenu .submenu {
  margin-left: 47px;
  font-size: 21px;
  font-weight: 390;
}

.menu header span {
  font-family: "Denton Condensed";
  font-style: normal;
  font-weight: 420;
  font-size: 29.695px;
  line-height: 39px;
  color: #3a3a3a;
}

.menu header hr {
  width: 100%;
  border: 1.48475px solid #3a3a3a;
}

.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.information {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.information--margin-20{
  margin-top: 20px;
}

.information__emphasis{
  font-weight: 330;
}

.footer-menu{
  width: 100%;
  border-bottom:0px;
  line-height: 58.3px;
  text-align: center;
  font-family: "Denton Condensed";
  font-style: italic;
  font-size: 20px;
  margin-top: 46px;
  margin-bottom: -15px;
}

.information-title {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 420;
  font-size: 21.7763px;
  line-height: 31px;
  padding: 0px;
  margin: 0px;
  color: black;
}

.information__container {
  display: flex;
  justify-content: space-between;
}

.information .description {
  width: 100%;
  max-width: 420px;
  margin-top: 2px;
  font-size: 17.82px;
  font-family: "Brandon-Grotesque";
}

.information-slot__prices {
  display: flex;
  width: 100%;
  max-width: 185px;
  justify-content: space-between;
  font-family: "Brandon-Grotesque";
}

.information-slot__prices--end{
  justify-content: flex-end;
  width: auto;
}

.information-slot__prices div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 81px;
  font-size: 21px;
  font-family: "Brandon-Grotesque";
}

.info-container {
  display: flex;
  flex-direction: column;
  max-width: 665px;
  width: 100%;
}

.info-container > h1 {
  all: unset;
  font-weight: 400;
  font-family: "Denton Condensed";
  font-size: 40px;
  line-height: 48px;
  color: #3a3a3a;
}

.info-container > h3 {
  all: unset;
  padding-top: 4px;
  font-weight: 400;
  font-style: normal;
  font-family: "Brandon-Grotesque";
  font-size: 24px;
  line-height: 24px;
  color: #3a3a3a;
}

.info-container > h4 {
  all: unset;
  padding-top: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Brandon-Grotesque";
  font-size: 20px;
  line-height: 26px;
  color: #3a3a3a;
}

.chips-container {
  display: flex;
  padding-top: 18px;
  gap: 18px;
}

.chip {
  padding: 8px 16px;
  border-radius: 10px;
  background: #3a3a3a;
}

.chip:hover {
  pointer: cursor;
  opacity: 0.8;
}

.chip > span {
  font-family: "Brandon-Grotesque";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f8f7f3;
}

.mapboxgl-popup-content {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #f8f7f3 !important;
  font-family: "Brandon-Grotesque";
}

.mapboxgl-popup-content > p,
h3 {
  margin: unset;
}

.order-online {
  max-width: 670px;
  width: 100%;
  background: #737b5e;
  padding: 12px 0px 12px 16px;
  border-radius: 4.49775px;
  margin-top: 32px;
}

.order-online--description {
  text-transform: uppercase;
  color: #f8f7f3;
  font-size: 18px;
  line-height: 24px;
  font-family: "Brandon-Grotesque";
  font-weight: 450;
}

.marker-tooltip {
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: fit-content;
}

.mapboxgl-popup-close-button {
  outline: none;
}

#map {
  max-width: 673px;
  height: 401px;
  border-radius: 10px;
  margin-top: 32px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .store-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: auto;
  }

  .information {
    height: auto;
  }

  .submenu {
    font-size: 18px !important;
  }

  .menu-container header span {
    font-size: 25px;
  }

  .information .description {
    max-width: auto;
  }

  .menu-container {
    min-width: unset;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .information-slot__prices div {
    justify-content: start;
    font-size: 18px;
  }

  .chip > span {
    white-space: nowrap;
  }
}

.mapbox {
  padding-top: 18px;
}
